<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h1>This is Home.html</h1>
<!--<img src="image/hopper.jpg" >-->
<!--office_branch test-->
<img th:src="@{/image/hopper.jpg}">
<th:block th:each="num : ${#numbers.sequence(1, 5)}">
    <div th:text="${num}"></div>
</th:block>

</body>
</html>